*{
  font-family: -apple-system, BlinkMacSystemFont, 
  "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title{
  position: absolute;
  left: 12vh;
  top: 12vh;
  margin: 0;
  font-size: 7vh;
  color: rgb(255, 255, 255); 
  box-shadow: 0 3px 0 rgb(100, 117, 112);
}
.bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(244, 162, 97);
  margin: 2vh;
  padding: 10vh 5vh;
  position: relative;
}
.panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 70, 83);
  box-shadow: 0 3px 0 rgb(24, 42, 49);
  height:55vh;
  width:35vh;
  margin-right: 17vh;
  border-radius: 5px;
  margin-top: 6vh;
  color: whitesmoke;
}
.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(42, 157, 143);
  box-shadow: 0 3px 0 rgb(19, 63, 58);
  width: 80px;
  height: 40px;
  margin-bottom: 4vh;
  border-radius: 8px;
}
.newGame{
  width: 40px;
}
#timer{
  font-size: 35px;
  margin-bottom: 5vh;
  box-shadow: 0 3px 0 rgb(58, 64, 83);
}
#BestScore{
  margin-bottom: 3vh;
  font-size: 18px;
  box-shadow: 0 3px 0 rgb(58, 64, 83);
}
#second{
  margin: 1vh 0;
}
.score{
  font-size: 28px;
}
.board {
    background:rgb(244, 162, 97);
    height:75vh;
    width:100vh;
    border-radius: 5px;
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(4,1fr);
    grid-gap:5px;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s ease-out;
    transform-style: preserve-3d;
  }
  .flip-card-back {
    background-color: rgb(38, 70, 83);
    box-shadow: 0 3px 0 rgb(24, 42, 49);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-front {
    background-color: rgb(255, 145, 198);
    box-shadow: 0 3px 0 rgb(143, 77, 109);
    transform: rotateY(540deg);
  }

.icon{
    font-size:calc(15vh - 20px);
}

.flip-card-inner.flip {
  transition: transform 0.8s ease;
    transform: rotateY(-180deg);
  }
  .flip-card-inner.setCards {
    transition: transform 1.2s ease;
    transform: rotateY(360deg);
  }
  
.flip-card-front.seccess{
    transition: background-color 1.4s ease;
    background: rgb(40, 136, 91);
    box-shadow: 0 3px 0 rgb(23, 80, 53);
}
.newGame{
  width: 25%;
  height: 10%;
}
   