*{
  font-family: -apple-system, BlinkMacSystemFont, 
  "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title{
  position: absolute;
  left: calc(25vh - 20px);
  top: 10vh;
  margin: 0;
  font-size: calc(9vh - 15px);
  color: rgb(70, 33, 23); 
  box-shadow: 0 2px 0 rgb(70, 33, 23);
}
.bg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(244, 162, 97);
  margin: 2vh;
  padding: 10vh 5vh;
  position: relative;
}
.panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 70, 83);
  box-shadow: 0 3px 0 rgb(16, 28, 32);
  height:60vh;
  width:35vh;
  margin-right: 17vh;
  border-radius: 5px;
  margin-top: 6vh;
}
.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(121, 33, 33);
  box-shadow: 0 0 0 1px rgb(85, 25, 25);
  width: 80px;
  height: 40px;
  margin-bottom: 4vh;
  border-radius: 8px;
}
.btnContainer:active{
  box-shadow: 0 0 0 rgb(70, 33, 23);
  color: rgb(212, 212, 212);
}
.newGame{
  width: 40px;
}
#timer{
  font-size: 35px;
  margin-bottom: 4vh;
  color: rgb(94, 44, 31); 
  /* box-shadow: 0 1px 0 rgb(255, 255, 255); */
  background: rgb(233, 196, 106);
  width: 23.5vh;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
#BestScore{
  margin-bottom: 3vh;
  font-size: 18px;
  color: rgb(233, 196, 106); 
  box-shadow: 0 1px 0 rgb(233, 196, 106); 
}
#second{
  margin: 1vh 0;
}
.score{
  color: rgb(233, 196, 106); 
  font-size: 28px;
}
.board {
    background:rgb(244, 162, 97);
    height:75vh;
    width:100vh;
    border-radius: 5px;
    display:grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(4,1fr);
    grid-gap:5px;
}
.flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s ease-out;
    transform-style: preserve-3d;
  }
  .flip-card-back {
    background-color: rgb(38, 70, 83);
    box-shadow: 0 3px 0 rgb(16, 28, 32);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-front {
    background-color: rgb(87, 75, 105);
    box-shadow: 0 3px 0 rgb(41, 35, 49);
    transform: rotateY(540deg);
  }
.flip-card-inner.flip {
  transition: transform 0.8s ease;
    transform: rotateY(-180deg);
  }
  .flip-card-inner.setCards {
    transition: transform 1.2s ease;
    transform: rotateY(360deg);
  }
  
.flip-card-front.seccess{
    transition: background-color 1.4s ease;
    background: rgb(40, 136, 91);
    box-shadow: 0 3px 0 rgb(23, 80, 53);
}
.newGame{
  width: 25%;
  height: 10%;
}
.backIcon{
  width: 10vh;
  height: 10vh;
}
.frontIcon{
  width: 18vh;
  height: 18vh;
}
   